<div class="layout">
    <ul class="sticky shadow">
        <li><a routerLink="/main">Dashboard</a></li>
        <li><a routerLink="transaction"> Transaction</a></li>
        <!--<li><a routerLink="purchase">Purchase</a></li>-->
        <li><a routerLink="product">Product</a></li>
        <li><a routerLink="sales">Sales</a></li>
        <li><a routerLink="settings">Settings</a></li>
        <li style="float:right" class="btn"> <button pButton pRipple label="Log out" icon="pi pi-sign-out" class="p-mr-2 p-mb-2" (click)="onlogout()"></button>
        </li>
        <li style="float:right; margin-right: 5px;" class="btn">
            <button pButton pRipple type="button" icon="pi pi-user" class="p-button-rounded" (click)="showprofile()" pTooltip="View User Profile" tooltipPosition="bottom"></button>
        </li>
    </ul>

    <div class="header">

    </div>

    <div class="page-route">
        <router-outlet></router-outlet>
    </div>

    <div class="p-grid p-align-stretch vertical-container">
        <div class="p-col-12 p-sm-4 lbl-footer">
            Location: Masuerte Old Yellow Stall 63-64
        </div>
        <div class="p-col-12 p-sm-4 lbl-footer">
            Contact: 09991050028
        </div>
        <div class="p-col-12 p-sm-4 lbl-footer">
            Facebook: Cotton Collection
        </div>
        <div class="p-col lbl-footer-2">
            2021 © Cotton Collection
        </div>
    </div>
</div>


<p-confirmDialog [baseZIndex]="10000" rejectButtonStyleClass="p-button-outlined"></p-confirmDialog>

<p-dialog header="Hello!" [(visible)]="usermodal" [modal]="true" [position]="position" [style]="{width: '35vw'}" [baseZIndex]="10000" [draggable]="false" [resizable]="false" [closable]="false">

    <div class="p-grid p-fluid">
        <div class="p-col-12 p-md-6 p-lg-12">
            <div class="p-grid">
                <div class="p-col-12 p-md-6 p-lg-12">
                    <i class="pi pi-user icon-center" style="font-size: 5rem"></i>
                </div>
                <div class="p-col-12 p-md-6 p-lg-12">
                    <label for="nameuser">Name</label>
                    <div id="nameuser">{{user.name}}</div>
                </div>
                <div class="p-col-12 p-md-6 p-lg-12">
                    <label for="username">Username</label>
                    <div id="username">{{user.username}}</div>
                </div>
                <div class="p-col-12 p-md-6 p-lg-12">
                    <label for="contact">Contact</label>
                    <div id="contact">{{user.contact}}</div>
                </div>
                <div class="p-col-12 p-md-6 p-lg-12">
                    <label for="address">Address</label>
                    <div id="address">{{user.address}}</div>
                </div>
                <div class="p-col-12 p-md-6 p-lg-12">
                    <label for="bday">Birthday</label>
                    <div id="bday">{{user.bday | date: 'longDate'}}</div>
                </div>
                <div class="p-col-12 p-md-6 p-lg-12">
                    <label for="password1">New Password</label>
                    <input id="password1" type="password" pPassword [(ngModel)]="user.password">
                </div>
                <div class="p-col-12 p-md-6 p-lg-12">
                    <label for="password2">Confirm New Password</label>
                    <input id="password2" type="password" pPassword [(ngModel)]="confpassword">
                </div>
            </div>
        </div>
    </div>


    <ng-template pTemplate="footer">
        <button icon="pi pi-check" (click)="changepassword()" *ngIf="user != undefined && user.password != null && user.password != '' && user.password == confpassword" pButton pRipple type="button" label="Update Password" class="p-button-success"></button>
        <p-button icon="pi pi-times" pRipple (click)="usermodal=false" label="Close" styleClass="p-button-text">
        </p-button>
    </ng-template>
</p-dialog>