<div class="p-grid">
    <div class="p-col-12 p-md-6 p-lg-3">
        <p-panel header="Daily Transactions">
            <p>A</p>
        </p-panel>
    </div>
    <div class="p-col-12 p-md-6 p-lg-3">
        <p-panel header="Daily Earnings">
            <p>B</p>
        </p-panel>
    </div>
    <div class="p-col-12 p-md-6 p-lg-3">
        <p-panel header="Daily Sold Items">
            <p>C</p>
        </p-panel>
    </div>
    <div class="p-col-12 p-md-6 p-lg-3">
        <p-panel header="Saved Users">
            <p>D</p>
        </p-panel>
    </div>
    <div class="p-col-12 p-md-6 p-lg-6">
        <p-chart type="line" [data]="data"></p-chart>

    </div>
</div>