<div id="stloginnav" class="navbar nav-shadow sticky">
    <button pButton pRipple label="Recover" class="p-button-outlined p-mr-2 p-mb-2" (click)="forgotpassword()"></button>
    <button pButton pRipple label="Register" class="p-button-outlined p-mr-2 p-mb-2" (click)="onreg()"></button>
    <button pButton pRipple label="Log in" class="p-mr-2 p-mb-2" (click)="onsign()"></button>
</div>

<div class="login-page" *ngIf="toregister">
    <div class="p-grid p-fluid">
        <div class="p-col-12 p-md-6 p-lg-3">
        </div>
        <div class="p-col-12 p-md-6 p-lg-6">
            <div class="register-form">
                <div class="p-grid">
                    <div class="p-col-12 p-md-6 p-lg-12">
                        <label for="user">Name</label>
                        <input id="user" type="text" pInputText [(ngModel)]="user.name">
                    </div>
                </div>
                <div class="p-grid">
                    <div class="p-col-12 p-md-6 p-lg-12">
                        <label for="username">Username</label>
                        <input id="username" type="text" pInputText [(ngModel)]="user.username">
                    </div>
                </div>
                <div class="p-grid">
                    <div class="p-col-12 p-md-6 p-lg-6">
                        <label>Birthday</label>
                    </div>
                </div>
                <div class="p-grid">
                    <div class="p-col-12 p-md-6 p-lg-12">
                        <p-calendar inputId="basic" [(ngModel)]="user.bday"></p-calendar>
                    </div>
                </div>
                <div class="p-grid">
                    <div class="p-col-12 p-md-6 p-lg-12">
                        <label for="password1">Password</label>
                        <input id="password1" type="password" pPassword [(ngModel)]="user.password">
                    </div>
                </div>
                <div class="p-grid">
                    <div class="p-col-12 p-md-6 p-lg-12">
                        <label for="password2">Confirm Password</label>
                        <input id="password2" type="password" pPassword [(ngModel)]="confpassword">
                    </div>
                </div>
                <div class="p-grid">
                    <div class="p-col-12 p-md-6 p-lg-8">
                    </div>
                    <div class="p-col-12 p-md-6 p-lg-4">
                        <label for="regButton" class="dot">.</label>
                        <button id="regButton" pButton pRipple type="button" label="Save new user"
                            class="p-button-raised p-button-info" (click)="registernew()"></button>
                    </div>
                </div>
            </div>
        </div>
        <div class="p-col-12 p-md-6 p-lg-3">
        </div>
    </div>
</div>


<div class="login-page" *ngIf="tosignin">
    <div class="p-grid p-fluid">
        <div class="p-col-12 p-md-6 p-lg-4">
        </div>
        <div class="p-col-12 p-md-6 p-lg-4">
            <div class="box login-form">
                <div class="p-field">
                    <label for="username">Username</label>
                    <input id="username" type="text" pInputText [(ngModel)]="credentials.username">
                </div>
                <div class="p-field">
                    <label for="password">Password</label>
                    <input id="password" type="password" pInputText [(ngModel)]="credentials.password">
                </div>
                <div class="p-field">
                    <button pButton pRipple type="button" label="Sign in" class="p-button-raised p-button-success"
                        (click)="usersignin()"></button>
                </div>
            </div>
            <div class="p-col-12 p-md-6 p-lg-4">
            </div>
        </div>
    </div>
</div>

<div class="login-page" *ngIf="forgpass">
    <div class="p-grid p-fluid">
        <div class="p-col-12 p-md-6 p-lg-3">
        </div>
        <div class="p-col-12 p-md-6 p-lg-6">
            <div class="register-form">
                <div class="p-grid">
                    <div class="p-col-12 p-md-6 p-lg-12">
                        <label for="username">Username</label>
                        <input id="username" type="text" pInputText [(ngModel)]="user.username">
                    </div>
                </div>
                <div class="p-grid">
                    <div class="p-col-12 p-md-6 p-lg-6">
                        <label>Birthday</label>
                    </div>
                </div>
                <div class="p-grid">
                    <div class="p-col-12 p-md-6 p-lg-12">
                        <p-calendar inputId="basic" [(ngModel)]="user.bday"></p-calendar>
                    </div>
                </div>
                <div class="p-grid">
                    <div class="p-col-12 p-md-6 p-lg-8">
                    </div>
                    <div class="p-col-12 p-md-6 p-lg-4">
                        <label for="resetButton" class="dot">.</label>
                        <button id="resetButton" pButton pRipple type="button" label="Validate"
                            class="p-button-raised p-button-info" (click)="validateresetpass()"></button>
                    </div>
                </div>
                <div class="p-grid">
                    <div class="p-col-12 p-md-6 p-lg-12">
                        <label for="password1">New Password</label>
                        <input [disabled]="!resetpass" id="password1" type="password" pPassword
                            [(ngModel)]="user.password">
                    </div>
                </div>
                <div class="p-grid">
                    <div class="p-col-12 p-md-6 p-lg-12">
                        <label for="password2">Confirm New Password</label>
                        <input [disabled]="!resetpass" id="password2" type="password" pPassword
                            [(ngModel)]="confpassword">
                    </div>
                </div>
                <div class="p-grid">
                    <div class="p-col-12 p-md-6 p-lg-8">
                    </div>
                    <div class="p-col-12 p-md-6 p-lg-4">
                        <label for="resetButton" class="dot">.</label>
                        <button [disabled]="!resetpass || confpassword != user.password" id="resetButton" pButton
                            pRipple type="button" label="Reset" class="p-button-raised p-button-info"
                            (click)="resetpassword()"></button>
                    </div>
                </div>
            </div>
        </div>
        <div class="p-col-12 p-md-6 p-lg-3">
        </div>
    </div>
</div>


<p-confirmDialog key="regconf" [baseZIndex]="10000" rejectButtonStyleClass="p-button-outlined"></p-confirmDialog>