<p-panel header="System Properties">


    <div class="p-grid p-fluid">
        <div class="p-col-12 p-md-6 p-lg-4">
            <label>Service Port:</label>
        </div>
        <div class="p-col-12 p-md-6 p-lg-6">
            <b>{{prop.app_port}}</b>
        </div>
        <div class="p-col-12 p-md-6 p-lg-4">
            <label>Database Username:</label>
        </div>
        <div class="p-col-12 p-md-6 p-lg-6">
            <b>{{prop.db_user}}</b>
        </div>
        <div class="p-col-12 p-md-6 p-lg-4">
            <label>Database Password:</label>
        </div>
        <div class="p-col-12 p-md-6 p-lg-6">
            <b>{{prop.db_password}}</b>
        </div>
        <div class="p-col-12 p-md-6 p-lg-4">
            <label>Connectiion URL:</label>
        </div>
        <div class="p-col-12 p-md-6 p-lg-6">
            <b>{{prop.db_url}}</b>
        </div>
    </div>

</p-panel>