<div class="p-grid pad-top">
    <div class="p-col-12 p-md-6 p-lg-3">
        <button pButton pRipple icon="pi pi-plus-circle" label="New Product" class="p-button-raised" (click)="newproduct()"></button>
    </div>
    <div class="p-col-12 p-md-6 p-lg-6">
    </div>
    <div class="p-col-12 p-md-6 p-lg-3 p-fluid">
        <div class="p-inputgroup">
            <input type="text" pInputText placeholder="Search by Product ID">
            <button type="button" pButton pRipple icon="pi pi-search"></button>
        </div>
    </div>
</div>

<p-table [value]="products" styleClass="p-datatable-responsive-demo">
    <ng-template pTemplate="header">
        <tr>
            <th>PRODUCT ID</th>
            <th>PRODUCT NAME</th>
            <th>DELCARED PRICE</th>
            <th>STOCK</th>
            <th class="action-col">ACTION</th>
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-product>
        <tr>
            <td><span class="p-column-title">PRODUCT ID</span>{{product.productid}}
            </td>
            <td><span class="p-column-title">PRODUCT NAME</span>{{product.productname}}</td>
            <td><span class="p-column-title">DELCARED PRICE</span>{{product.declaredprice | number :'1.2'}}</td>
            <td><span class="p-column-title">STOCK</span>{{product.stock}}</td>
            <td class="action-col"><span class="p-column-title">ACTION</span>
                <button pButton pRipple icon="pi pi-pencil" (click)="viewproduct(product)" class="p-button-raised p-button-help"></button>
                <button pButton pRipple icon="pi pi-trash" (click)="deleteproduct(product.productid)" class="p-button-raised p-button-danger act-button"></button>
            </td>

        </tr>
    </ng-template>
</p-table>




<p-dialog header="Product Details" [(visible)]="productmodal" [modal]="true" [style]="{width: '50vw'}" [baseZIndex]="10000" [draggable]="false" [resizable]="false" [closable]="false">



    <div class="p-grid p-fluid">
        <div class="p-col-12 p-md-6 p-lg-4">
            <label for="productid">Product ID</label>
            <div *ngIf="onview" id="productid"> {{product.productid}}</div>
            <input *ngIf="!onview" id="productid" type="text" pKeyFilter="alphanum" pInputText [(ngModel)]="product.productid">
        </div>
        <div class="p-col-12 p-md-6 p-lg-8">
            <label for="productname">Product Name</label>
            <input id="productname" type="text" pInputText [(ngModel)]="product.productname">
        </div>
        <div class="p-col-12 p-md-6 p-lg-4">
            <label for="declaredprice">Declared Price</label>
            <input id="declaredprice" type="text" pKeyFilter="money" pInputText placeholder="0.00" [(ngModel)]="product.declaredprice">
        </div>
        <div class="p-col-12 p-md-6 p-lg-4">
            <label for="prodstock">Stock</label>
            <div id="prodstock"> {{product.stock}}</div>
        </div>
    </div>

    <ng-template pTemplate="footer">
        <button pButton pRipple icon="pi pi-check" (click)="saveproduct()" label="Save" class="p-button-success"></button>

        <p-button icon="pi pi-times" (click)="productmodal=false" label="Close" styleClass="p-button-text"></p-button>
    </ng-template>
</p-dialog>